@mixin flexLayout($justifyContent, $alignItems, $directions, $gap) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $directions;
  gap: $gap;
}

@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin makeContainer($padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
  @include sm() {
    width: 540px;
  }
  @include md() {
    width: 720px;
  }
  @include lg() {
    width: 960px;
  }
  @include xl() {
    width: 1140px;
  }
  @include xxl() {
    width: 1320px;
  }
}
